<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${tittle}">Document</title>
</head>
<body>
    <h1 th:text="${tittle}"></h1>
    <ul>
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastName}"></li>
        <li th:if="${user.email}" th:text="${user.email}"></li>
        <li th:if="${user.email == null}" th:text="${'No tiene email'}"></li>
    </ul>
 <a th:href="@{/list}">Listado</a>  
 <a th:href="@{/api/params/rute?message=Hola que tal}">Parametros</a> 
 <a th:href="@{/api/params/rute(message='Hola que tal 2')}">Parametros 2</a>
 <a th:href="@{/api/params/rute2(text='Hola que tal 2',code= 222)}">Parametros 3</a>
 <a th:href="@{'/api/var/var1/'+${tittle}}">Parametros 4</a>
</body>
</html>